@import "tailwindcss";


/* for any custom styles (in tailwind 4.0) read this: https://tailwindcss.com/docs/adding-custom-styles
   here is the custom animations documentation too: https://tailwindcss.com/docs/animation#customizing-your-theme
   you need the @theme block to declare things so tailwind can understand it */
@theme {
    /* once you write your custom animation, you declare it like this in the @theme block... this is what happens now */

    /* 1. broswer loads all elements
    /* 2. there's an element called logo that has a class of animate-fall
    /* 2a. Tailwind: 'what the fuck does that mean'
       2b. Tailwind: *looks in the @theme block* 'oh Alex wants me to call @keyframes fall for 1.3s
       2c. Tailwind finds @keyframes fall, and applies the animation */
    --animate-fall: fall 1.3s ease-out forwards; 
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --custom-maroon: #55120c;
  --custom-turq: #679591;
  --custom-white: #e6dfdc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-custom-maroon {
  background-color: var(--custom-maroon);
}

.text-custom-maroon {
  color: var(--custom-maroon);
}


.text-custom-turq {
  color: var(--custom-turq);
}

.bg-custom-white {
  background-color: var(--custom-white);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100vh;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: var(--custom-white)
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}



@keyframes fall {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  80%{
    opacity: 1;
    transform: translate(-50%, 5%);
  }

  100%{
    opacity: 1;
    transform: translate(-50%, 0);
  }

  
}

/* you don't need this since we're already declaring the animation in the tailwind styles*/
/* .fall-animation {
  animation: fall 1.3s ease-out forwards; 
} */